<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Neem contact met mij op</h2>
                    <h3 class="section-subheading text-primary">Heb je een vraag over mijn diensten<br>
					of wil je een vrijblijvend kennismakingsgesprek?<br>
					Ik ben te bereiken op 06 34 777 504.<br>
					Je kan ook een bericht hieronder achter laten.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="form1" id="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://youmewe.wufoo.com/forms/z3z6uyv02jpdms/#public">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Wat is je naam? *" id="Field114" name="Field114" maxlength="255" tabindex="1" onkeyup="" required data-validation-required-message="Vergeet je naam niet.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Wat is je emailadres? *" id="Field3" name="Field3" spellcheck="false" maxlength="255" tabindex="2" required data-validation-required-message="Vergeet je emailadres niet.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input id="Field106" name="Field106" type="tel" tabindex="3" onkeyup=""  class="form-control" placeholder="Op welk telefoonnummer kan ik je bereiken? *" required data-validation-required-message="Vergeet je telefoonnummer niet.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea  id="Field4" name="Field4" spellcheck="true" tabindex="4" onkeyup="" class="form-control" placeholder="Schrijf hier je bericht *" required data-validation-required-message="Schrijf een bericht."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
				<div class="form-group">
				  <input id="Field5" name="Field5" type="checkbox" class="field checkbox" value="Ik ontvang graag updates van Youmewe Media" tabindex="5"     />
				  <label class="choice" for="Field5">Ik ontvang graag updates van Youmewe Media</label>
				</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="saveForm" name="saveForm" type="submit" class="btn btn-xl">Verstuur dit bericht</button>
                            </div>
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="wOzwRN/73XptxyrIiYvQbDg9j9JzByiQoyaSl5Lzq08=" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
