<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Diensten</h2>
                    <h3 class="section-subheading text-muted">Kies de dienst die bij je past.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Creatie</h4>
                    <p class="text-muted">Samen ontwerpen we jouw website. Ik zorg daarna dat hij online komt en dat hij door jou zelf bij te houden is. Bijvoorbeeld door te werken met WordPress.
                    </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Onderhoud</h4>
                    <p class="text-muted">Heb je al een website? Dan kan ik hem updaten, veiliger maken, kleine dingen aanpassen en de website optimaliseren voor zoekmachines.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hulp</h4>
                    <p class="text-muted">Loop je ergens tegenaan? Dan kan ik jouw website aanpassen of jou leren het zelf te doen.</p>
                </div>
            </div>
			<div class="col-lg-12 text-center">
				<a href="tarieven/tarieven.html" class="page-scroll btn btn-xl">Mijn Tarieven</a>
			</div>
        </div>
    </section>
